@import url("https://fonts.googleapis.com/css2?family=Orbitron:wght@900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Orbitron";
}

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #c0c0c0;
}

body {
  height: 100vh;
  overflow: hidden;
  display: flex;
  gap: 2px;
}

.droppable {
  background: linear-gradient(45deg, #ff4137, #eaad32);
  padding: 0 1rem;
  flex: 1;
  border-radius: 0.5rem;
  overflow: auto;
}

.draggable {
  padding: 1rem;
  background-color: #fff;
  margin: 1rem 0;
  cursor: move;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 8rem;
  color: #e9550c;
  background-color: rgba(240, 240, 240, 0.7);
}

.draggable.dragging {
  opacity: 0.5;
}
