@import url("https://fonts.googleapis.com/css2?family=Orbitron:wght@900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Orbitron";
}

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background-color: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background-color: #c0c0c0;
}

body {
  height: 100vh;
  overflow: hidden;
  display: flex;
  gap: 2px;
}

h1 {
  font-size: 20vh;
  color: #fff;
  text-align: center;
  position: fixed;
  left: 0;
  right: 0;
  bottom: 8vh;
  text-shadow: 0 0 20px #474747;
}

#dragged {
  position: fixed;
  left: 16vw;
  bottom: 50vh;
  width: 380px;
  transform: scale(1.2);
  background-color: rgba(240, 240, 240, 0.9);
}

#arrow {
  position: fixed;
  left: 30vw;
  bottom: 30vh;
  filter: drop-shadow(19px 8px 10px #fff);
  width: 30vw;
  transform: rotate(45deg);
  z-index: 100;
}

.droppable {
  flex: 1;
  padding: 0 1rem;
  background: linear-gradient(45deg, #ff4137, #eaad32);
  border-radius: 0.5rem;
  overflow: auto;
}

.draggable {
  margin: 1rem 0;
  padding: 1rem;
  cursor: move;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 8rem;
  color: #e9550c;
  background-color: rgba(240, 240, 240, 0.7);
}

.dragging {
  opacity: 0.5;
}
